@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mobile menu animation */
.mobile-menu {
  /* clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
  transition: clip-path 0.4s ease-in-out;
  transform-origin: top right; */
  clip-path: polygon(0 0, 0 100%, 0 100%, 0 100%);
  transition: clip-path 0.5s ease-in-out;
  transform-origin: top left;
}

.mobile-menu.open {
  /* clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%); */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* Hamburger menu icon */
.menu-icon {
  width: 24px;
  height: 18px;
  position: relative;
  cursor: pointer;
}

.menu-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000;
  transition: transform 0.3s ease-in-out;
}

.menu-icon span:first-child {
  top: 0;
}

.menu-icon span:nth-child(2) {
  top: 8px;
}

.menu-icon span:last-child {
  top: 16px;
}

.menu-icon.open span:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon.open span:nth-child(2) {
  opacity: 0;
}

.menu-icon.open span:last-child {
  transform: rotate(-45deg) translate(7px, -7px);
}

@layer utilities {
  .animate-background-shift {
    background: linear-gradient(
      90deg,
      #fff8e5 0%,
      #fff2d6 25%,
      #fff8e5 50%,
      #fff2d6 75%,
      #fff8e5 100%
    );
    background-size: 200% 100%;
    animation: shiftBackground 3s linear infinite;
  }

  .text-focus-animation {
    text-shadow: 0 0 0 rgba(0,0,0,0);
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .text-focus-animation:hover {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    letter-spacing: 0.3px;
  }

  @keyframes shiftBackground {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 200% 0%;
    }
  }

  .scale-content {
    transition: all 0.5s ease;
  }

  .scale-content:hover p {
    transform: scale(1.05);
  }

  .card-overlay {
    backdrop-filter: blur(4px);
  }
}